
@{
    ViewBag.Title = "BuyPage";
}

<h2>Your Order So Far</h2>



<div class="tableWidth">
    <br />
    <table style="width:100%;">
    <tr><td>Product</td><td>Quantity</td><td>Price</td></tr>
    <tr><td>Dummy</td><td>3</td><td>£3.21</td></tr>
    <tr><td>Data</td><td>4</td><td>£5.55</td></tr>
    </table>
    <h3>
        Total Price:<textarea id="TextArea1" rows="1" cols="6"></textarea>
    </h3>
</div>


@*<div class="col-md-4">
    <h3>Order</h3>
    <h4>First Line</h4><input id="Text1" type="text" />
    <h4>Second Line</h4><input id="Text1" type="text" />
    <h4>Town</h4><input id="Text1" type="text" />
    <h4>Country</h4><input id="Text1" type="text" />
    <h4>Postcode</h4><input id="Text1" type="text" />
</div>*@