
@{
    ViewBag.Title = "GroupRidesPP";
}

<h2>GroupRidesPP</h2>

<div class="row">

    <div class="col-md-5">
        <p>
            Some bullshit about riding and get flies in your face while going down a hill in the countryside.
        </p>
        <div>
            <a href="@Url.Action("SClubRideEvents", "Home")">
                <input id="Back" type="button" value="Back" />
            </a>
        </div>
        <div class="divider"></div> <input id="BookCntR" type="button" value="Join" />
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/Group Rides.jpg" />
    </div>

    <div class="col-md-1">
        <a href="@Url.Action("BuyPage", "Home" )">
            <img src="~/Content/Images/shopping-cart.png" />
        </a>
    </div>

</div>