@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-4">
        <h2>Welcome to VeloMania</h2>
        <p>
            VeloMania has one ambition, to make cycling the most enjoyable activities that anyone can perform. If you cycle for fun or cycle as a method
            of transportation then you need to visit VeloMaina. We are dedicated at giving the cyclist the best experience possible no matter what the reason
            behind getting onto a bike.
</p>
    </div>

    <div class="col-md-4">
        <img class="imgHomePage" src="~/Content/Images/Bikewithview.jpg" alt="Bike by Loch" />    
    </div>

    <div class="col-md-1">  
    </div>

    <div class="col-md-3">
        <h2>Web API</h2>
        <p>Cycling News goes here.</p>
    </div>

</div>