
@{
    ViewBag.Title = "Club Rides & Events";
}

<h1>Club Rides & Events</h1>

<div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-4">
        <a href="@Url.Action("CityRidesPP","Home")">
            <img src="~/Content/Images/City Rides.jpg" />
        </a>
        <p>
           Join our club to learn how to ride around your city carefully and safely.
        </p>
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <a href="@Url.Action("CountryRidesPP","Home")">
            <img src="~/Content/Images/Country Rides.jpg" />
        </a>
        <p>
           Join our club if you fancy riding around the British country side.
        </p>
    </div>

    <div class="col-md-1">
    </div>

</div>

<div class="row">

    <div class="col-md-1">.
    </div>

    <div class="col-md-4">
        <a href="@Url.Action("GroupRidesPP","Home")">
        <img src="~/Content/Images/Group Rides.jpg" />
        </a>
        <p>
          Our group rides are dedicated to riding as a community.
        </p>
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <a href="@Url.Action("SafetyRidesPP","Home")">
        <img src="~/Content/Images/Safety Rides.jpg" />
        </a>
        <p>
          Want to get the basic safety procedures down to a "T" or want to learn to ride for the first time, join our club.
        </p>
    </div>

    <div class="col-md-1">
    </div>

</div>