
@{
    ViewBag.Title = "GroupRidesPP";
}

<h2>Group Rides</h2>

<div class="row">

    <div class="col-md-5">
        <p>
            Some bullshit about riding together and blocking the entire road for every fucker else on the road.
        </p>
        <input id="Back" type="button" value="Back" /> <div class="divider"></div> <input id="BookCntR" type="button" value="Join" />
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-5">
        <img src="~/Content/Images/Group Rides.jpg" />
    </div>

</div>

