
@{
    ViewBag.Title = "SafetyRidesPP";
}

<h2>Safety Rides</h2>

<div class="row">

    <div class="col-md-5">
        <p>
            Some bullshit about riding safely around the park and knocking toddlers off their tricycles because they aren't as cool as bicycle.'
        </p>
        <div>
            <a href="@Url.Action(" SClubRideEvents", "Home" )">
                <input id="Back" type="button" value="Back" />
            </a>
        </div>
        <div class="divider"></div> <input id="BookCntR" type="button" value="Join" />
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-5">
        <img src="~/Content/Images/Safety Rides.jpg" />
    </div>

</div>